{% extends 'base.html' %}

{% block title %}Список объявлений{% endblock %}

{% block content %}
    <h1>Список объявлений</h1>
    <ul>
        {% for ad in advertisements %}
            <li>{{ ad.title }} - {{ ad.category }}</li>
            <div class="advertisement">
                <h2>{{ ad.title }}</h2>
                <p>{{ ad.description }}</p>
                <img src="{{ ad.image_url }}" alt="Изображение объявления">
                <iframe width="560" height="315" src="{{ ad.video_url }}" frameborder="0" allowfullscreen></iframe>
            </div>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}